body{
width: 100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

section{
text-align: center;
    background-color: bisque;
    border: 2px solid black;
    border-radius: 15px;
    padding: 40px;
    gap: 20px;
}
section div{
    display: flex ;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.marcador{
    border: 1px solid black;
    width: 100px;
    height: 30px;
    background-color: aliceblue;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


button{
    margin-top: 20px;
    padding: 10px;
    cursor: pointer;
}

