
body{
    width: 100%;
    height: 90vh;
    margin: 2rem;
    text-align: center;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.on{
    background-color: green;
    padding: 20px;
    width: 50px;
}
.off{
    background-color: red;
    padding: 20px;
    width: 50px;

}

img{
    width: 40px;
}