* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
hr{
    width: 100%;
}

body {

    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    text-align: center;
}

header {
    padding: 40px;
    width: 100%;
    background-color: aqua;
    align-items: center;
}

hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
}

footer {
    padding: 30px;

}

button {
    padding: 10px;
    cursor: pointer;
}


.cuadrado{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 2rem;
}